[project]
	description = ALl kind of project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vishwakarma700
[access "refs/for/refs/*"]
	read = group user/vishwakarma700
	push = group user/vishwakarma700
	label-Code-Review = -2..+2 group user/vishwakarma700
	label-Verified = -1..+1 group user/vishwakarma700
	rebase = group user/vishwakarma700
	removeReviewer = group user/vishwakarma700
	submit = group user/vishwakarma700
[access "refs/heads/*"]
	read = group user/vishwakarma700
	create = group user/vishwakarma700
	push = +force group user/vishwakarma700
	pushMerge = group user/vishwakarma700
[access "refs/tags/*"]
	push = +force group user/vishwakarma700
	pushTag = group user/vishwakarma700
	pushSignedTag = group user/vishwakarma700
